.gallery {
  padding-top: 10rem;
  padding-bottom: 0.9rem;

  min-height: 100dvh;

  &[data-section='media'] + .lower-info {
    .frame-btn__inner {
      @media (max-width: 64em) and (min-width: 49.01em) {
        height: 4.3rem;
      }
    }
    .frame-btn__txt {
      @media (max-width: 64em) and (min-width: 49.01em) {
        padding: 0.8rem 4.3rem;
      }
    }
    .border {
      @media (max-width: 64em) and (min-width: 49.01em) {
        top: 32%;
        width: 216.5%;
      }
    }
  }

  @media (min-width: 64.01em) {
    padding-bottom: 5.9rem;
  }

  @media (min-width: 49.01em) and (max-height: 1070px) {
    padding-top: 15rem;
  }

  @media (max-width: 49em) {
    padding-top: 13rem;
    padding-bottom: 20.9rem;
  }

  @media (max-width: 64em) and (min-width: 49.01em) {
    padding-top: 21rem;
  }

  // .gallery__container

  &__container {
    display: flex;
    flex-direction: column;

    @media (min-width: 49.01em) {
      height: 100%;
    }
  }

  // .gallery__slider

  &__slider {
    .gallery__image {
      height: 88rem;
      @media (min-width: 49.01em) and (max-height: 1070px) {
        &:not(._small-screen &, ._hf &) {
          height: 65vh;
        }
      }
      @media (max-width: 64em) and (min-width: 49.01em) {
        height: 111rem;
      }
      @media (max-width: 49em) {
        height: 137rem;
      }
    }

    &.swiper {
      margin-bottom: 2rem;

      width: 100dvw;

      @media (min-width: 49.01em) {
        margin-bottom: 2.6rem;
      }

      @media (min-width: 49.01em) and (max-height: 1070px) {
        &:not(._small-screen &, ._hf &) {
          margin-bottom: auto;
        }
      }

      @media (max-width: 64em) and (min-width: 49.01em) {
        margin-bottom: 4.6rem;
      }

      @media (max-width: 49em) {
        margin-bottom: 2.5rem;
      }
    }

    transform: translateX(-2rem);

    @media (min-width: 49.01em) {
      transform: translateX(-1.1rem);
    }
  }

  // .gallery__wrapper

  &__wrapper {
  }

  // .gallery__slide

  &__slide {
  }

  // .gallery__image-wrap

  &__image-wrap {
    display: flex;
  }

  // .gallery__image

  &__image {
    height: 88.3rem;

    object-fit: cover;

    @media (max-width: 49em) {
      height: 131.6rem;
    }
  }

  // .gallery__row

  &__row {
    margin-bottom: 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 49.01em) {
      .link {
        text-transform: uppercase;
      }
    }

    @media (min-width: 64.01em) {
      margin-bottom: 2rem;
    }

    @media (max-width: 49em) {
      margin-bottom: 5.5rem;

      flex-direction: column;
      align-items: flex-start;
      row-gap: 3.2rem;

      .link {
        font-size: 3.4rem;
      }
    }

    .link {
      &:first-child {
        column-gap: 1.8rem;

        @media (max-width: 49em) {
          column-gap: 8rem;

          &::after {
            flex: 0 0 2rem;
            width: 2rem;
          }
        }

        &::after {
          content: var(--i-arr-sm);

          flex: 0 0 1rem;
          width: 1rem;
        }
      }
      &:nth-child(2) {
        column-gap: 4.8rem;

        transform: translate(0.7rem, -1rem);

        @media (max-width: 49em) {
          column-gap: 11rem;

          transform: none;
        }
      }
    }
  }

  // .gallery__share

  &__share {
  }

  // .gallery__save

  &__save {
  }

  // .gallery__controls

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .gallery__controls-btn

  &__controls-btn {
    display: inline-flex;

    @media (max-width: 49em) {
      display: none;
    }

    svg {
      width: 1.8rem;
      height: 1.8rem;
    }

    // .gallery__controls-btn_prev

    &_prev {
      transform: rotate(180deg);
    }

    // .gallery__controls-btn_next

    &_next {
    }
  }

  // .gallery__thumbs

  &__thumbs {
    display: flex;
    align-items: flex-end;
    height: 18.2rem;

    @media (max-width: 49em) {
      overflow-x: scroll;
      width: 100%;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }
    }

    @media (min-width: 49.01em) {
      height: 15.6rem;

      transform: translateY(-4.2rem);
    }
  }

  // .gallery__thumb

  &__thumb {
    transition: width 0.4s ease-in-out, opacity 0.4s ease-in-out,
      flex 0.4s ease-in-out;
    cursor: pointer;

    .gallery__image {
      height: 6.4rem;

      transform-origin: center;

      transition: height 0.4s ease-in-out;

      @media (max-width: 49em) {
        height: 7.6rem;
      }
    }
    flex: 0 0 7.5rem;
    width: 7.5rem;

    @media (max-width: 49em) {
      flex: 0 0 8.8rem;
      width: 8.8rem;
    }

    &:not(._is-active) {
      opacity: 0.5;

      &:nth-child(2) {
        .gallery__image {
          height: 8.4rem;

          @media (max-width: 49em) {
            height: 10rem;
          }
        }
      }
      &:nth-child(3) {
        .gallery__image {
          height: 9.4rem;

          @media (max-width: 49em) {
            height: 11rem;
          }
        }
      }
      &:nth-child(5) {
        .gallery__image {
          height: 11.3rem;

          @media (max-width: 49em) {
            height: 13.2rem;
          }
        }
      }
      &:nth-child(6) {
        .gallery__image {
          height: 6.6rem;

          @media (max-width: 49em) {
            height: 7.6rem;
          }
        }
      }
      &:nth-child(7) {
        .gallery__image {
          height: 9.5rem;

          @media (max-width: 49em) {
            height: 11.2rem;
          }
        }
      }
      &:nth-child(8) {
        .gallery__image {
          height: 4.8rem;

          @media (max-width: 49em) {
            height: 5.6rem;
          }
        }
      }
    }
    &._is-active {
      flex: 0 0 17.6rem;
      width: 17.6rem;

      @media (max-width: 49em) {
        flex: 0 0 20.4rem;
        width: 20.4rem;

        .gallery__image {
          height: 18.2rem;
        }
      }

      .gallery__image {
        height: 15.6rem;
      }
    }
  }
}
[data-page='gallery'] {
  .header {
    &__logo {
      @media (max-width: 64em) and (min-width: 49.01em) {
        margin-right: 16.5rem;
      }
    }
    &__heading {
      @media (max-width: 64em) and (min-width: 49.01em) {
        padding-top: 2rem;
      }
    }
  }
}
