.media-chapter {
  padding-top: 9.9rem;
  padding-bottom: 18.3rem;

  // .media-chapter__container

  &__container {
    display: flex;
    flex-direction: column;
  }

  // .media-chapter__title

  &__title {
    margin-bottom: 4.8rem;
  }

  // .media-chapter__bg

  &__bg {
    position: relative;

    margin-bottom: 9.5rem;

    width: 100dvw;

    transform: translateX(-1.5rem);

    overflow: hidden;

    &::after {
      content: '';

      position: absolute;
      left: -6.6rem;
      top: -23.1rem;

      width: 205.2rem;
      height: 116.7rem;

      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.8) 93.18%
      );
    }
  }

  // .media-chapter__bg-content

  &__bg-content {
    height: 61.5rem;
    width: 100%;

    object-fit: cover;
  }

  // .media-chapter__play-btn

  &__play-btn {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;

    transform: translate(-50%, -50%);
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;

    ._is-playing & {
      opacity: 0;
      visibility: hidden;
    }

    svg {
      width: 4.5rem;
      height: 4rem;
    }
  }

  // .media-chapter__body

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 11rem;
  }

  &__group {
    display: grid;
    grid-template-columns: 11fr 14fr;
  }

  // .media-chapter__aside

  &__aside {
  }

  // .media-chapter__time

  &__time {
    font-size: 1.5rem;
    line-height: 100%;
    font-weight: 500;
    letter-spacing: 0.15rem;
  }

  // .media-chapter__content

  &__content {
    padding-left: 0.2rem;

    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

  // .media-chapter__text

  &__text {
    max-width: 90.5rem;

    font-size: var(--fz-39-hf);
    line-height: 3.9rem;
    font-weight: 500;
  }

  // .media-chapter__socials

  &__socials {
  }
}
