.news-section {
  .controls {
    column-gap: 7.5rem;
  }
  .controls__fraction {
    span:nth-child(1):not(:last-child) {
      &::after {
        content: '//';
      }
    }
  }
  @media (max-width: 64em) {
    &::before {
      content: '';
      z-index: 3;
      left: 50%;
      position: fixed;
      transform: translate(-50%, 0);
      height: 2.5rem;
    }
  }
  @media (max-width: 64em) and (min-width: 49.01em) {
    &::before {
      bottom: 0;

      width: 100%;
      background: url(@img/vectors/2131327217.svg) center / contain repeat-x;
    }
  }
  @media (max-width: 49em) {
    &::before {
      bottom: 1rem;
      width: 104%;
      background: url(@img/vectors/2131327207.svg) center / contain repeat-x;
    }
  }
  @media (max-width: 64em) and (min-width: 49.01em) {
    .badge__inner {
      padding: 3.5rem 3.1rem;
      height: 8.4rem;
      min-width: 18.3rem;
    }
    .filters {
      margin-bottom: 12.4rem;
    }
  }
  @media (max-width: 49em) {
    &::after {
      content: '';

      position: fixed;
      z-index: 2;

      bottom: 0;
      left: -91rem;

      width: 384rem;
      height: 35rem;

      background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, #000000 78.16%);
      filter: blur(2.6rem);
      transform: rotate(-180deg);

      pointer-events: none;
    }
  }
  .news-card__heading {
    @media (max-width: 64em) and (min-width: 49.01em) {
      max-width: 37.2rem;
      font-size: 2.3rem;
    }
    @media (max-width: 49em) {
      line-height: 126%;
    }
  }
  .news-card__date {
    @media (max-width: 64em) and (min-width: 49.01em) {
      font-size: 1.9rem;
    }
  }
  .news-card__content {
    min-height: 35rem;

    @media (max-width: 64em) and (min-width: 49.01em) {
      min-height: 39rem;
      padding: 2rem 1.7rem;
    }

    @media (max-width: 49em) {
      padding-bottom: 1.8rem;

      min-height: 34rem;
      row-gap: 1%;
    }
  }
  // .news-section__container

  &__container {
    position: relative;
    z-index: 2;

    padding-top: 10.7rem;
    padding-bottom: 4rem;

    display: flex;
    flex-direction: column;
    min-height: 100dvh;

    @media (max-width: 64em) and (min-width: 49.01em) {
      &.container {
        padding-top: 11rem;
        padding-bottom: 25rem;
      }
    }

    @media (max-width: 49em) {
      &.container {
        padding-top: 13rem;
        padding-bottom: 40rem;
      }
    }
  }

  // .news-section__filters

  &__filters {
    transform: translateX(3.9rem);

    &.filters {
      margin-bottom: 0.4rem;

      @media (max-width: 49em) {
        display: none;
      }

      @media (max-width: 64em) and (min-width: 49.01em) {
        width: 98dvw;
        justify-content: flex-start;
        transform: none;
      }
    }
  }

  // .news-section__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 12.7rem;

    @media (min-width: 49.01em) {
      margin: 0 auto;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 8.5rem;
      row-gap: 9.5rem;
      width: 174.6rem;
    }

    @media (max-width: 64em) and (min-width: 49.01em) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10.5rem;
      row-gap: 11.5rem;
    }
  }

  &__list-wrap {
    position: relative;

    @media (min-width: 49.01em) {
      margin-bottom: 3.3rem;

      display: flex;
      align-items: center;
      flex: 1 1 auto;
    }

    @media (max-width: 64em) and (min-width: 49.01em) {
      margin-bottom: 14.3rem;
    }

    @media (max-width: 49em) {
      margin-bottom: 12rem;
    }
  }

  // .news-section__item

  &__item {
  }

  // .news-section__fraction

  &__fraction {
    margin: 0 auto;

    @media (max-width: 49em) {
      display: none;
    }
  }

  // .news-section__arr-btn

  &__arr-btn {
    position: absolute;
    top: 50.5%;

    display: inline-flex;

    transform: translateY(-50%);

    @media (max-width: 64em) {
      display: none;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }

    // .news-section__arr-btn_prev

    &_prev {
      left: 0;

      transform: translateY(-50%) rotate(180deg);
    }

    // .news-section__arr-btn_next

    &_next {
      right: 0;
    }
  }
}
.sort {
  position: absolute;
  z-index: 11;
  top: 1rem;
  left: 50%;

  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  transform: translateX(-50%);

  transition: opacity 1s ease-in-out;

  @media (max-width: 64em) {
    flex-direction: column-reverse;
  }

  @media (max-width: 64em) and (min-width: 49.01em) {
    position: fixed;
    top: auto;
    bottom: 3rem;

    &__btn.btn {
      min-width: 47.1rem;
      height: 7rem;
    }
    .tags-list__inner.btn {
      height: 7rem;
      width: 100%;
    }
  }

  @media (max-width: 49em) {
    position: fixed;
    top: auto;
    bottom: 10.8rem;

    &::after {
      bottom: -9rem;

      width: 108%;
    }
  }

  &:not(._page-loaded &) {
    opacity: 0;
  }

  .tags-list {
    &__item {
      --mb: -6rem;
      --opacity: 0;
      --visibility: hidden;
      --scale: 0.8;

      margin-bottom: var(--mb);

      opacity: var(--opacity);
      visibility: var(--visibility);
      transform: scale(var(--scale));
    }
  }

  // &:hover {
  //   .tags-list {
  //     grid-template-rows: 1fr;
  //   }
  // }

  .btn {
    min-width: 30.1rem;
    height: 5.8rem;

    @media (max-width: 49em) {
      min-width: 82.1rem;
      height: 10.8rem;

      &__txt {
        font-size: 3rem;
      }
    }
  }
}
.tags-list {
  // display: grid;
  // grid-template-rows: 0fr;

  // transition: grid-template-rows 1s ease-out 1s;

  // @media (max-width: 49em) {
  //   grid-template-rows: 1fr;
  // }

  // .tags-list__inner

  &__inner {
    // overflow: hidden;
  }

  &__list {
    display: flex;
    flex-direction: column;

    @media (max-width: 49em) {
      &:not(._is-active &) {
        pointer-events: none;
      }
    }
  }

  // .tags-list__item

  &__item {
  }

  &__inner {
    position: relative;
    --alpha: 0;
  }
  &__input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    appearance: none;
    + .btn__txt {
      justify-content: center;
      width: 100%;
      height: 100%;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        pointer-events: none;
        opacity: var(--alpha);
        @media (max-width: 49em) {
          .header__sort-list & {
            background-color: rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
  }

  // .tags-list__btn

  &__btn {
  }
}
[data-page='news'] {
  .container {
    @media (max-width: 49em) {
      padding-left: 0.8rem;

      padding-right: 0.8rem;
    }
  }
}
